
@import "../../app.scss";

.navbar{
height: 100px;

.wrapper{
    max-width: 1366px;
    margin: 0 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    @include mobile{
        justify-content: flex-end;
        margin: 0;
        padding: 20px;
        
    }

    span{
        font-weight: bold;
        @include mobile{
            display: none;
        }
    }
    .social{
        display: flex;
        gap: 20px;

    }
    img{
        width: 30px;
        height: 30px;
    }
}

button{
    background-color: #f7b42c;
    color: white;
    background-image: linear-gradient(315deg, #f7b42c 0%, #f02f39 74%);
    border-radius: 10px;
    border: none;
     width: 130px;
    padding: 8px;
    cursor: pointer;
    @include mobile{
        display: none;
    }
}
}